

.form {
    display: flex;
    flex-direction: column;
        width: 205px;
            margin: 0 auto;
}
.input {
width: 200px;
height: 20px;
margin-bottom: 15px;
border-radius: 4px;
border: 1px solid #184aff;
outline-color: #6baae1;
}



.label {
margin-bottom: 5px;
}
.button {
width: 208px;
border-radius: 20px;
padding: 5px;
border: 1px solid #184aff;
background: aliceblue;
transition: transform, background 250ms;
}
.button:hover {
    background: #6baae1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.button:active {
    transform: scale(0.95);
}
