.item {
    list-style: none;
    margin-bottom: 5px;
    word-break: break-word;
    border: 1px solid rgb(97, 131, 3);
    padding: 5px;
    border-radius: 5px;
}

.delete {
    margin: 6px 0 0 140px;
    border-radius: 5px;
    border: 1px solid rgb(97, 131, 3);
    transition: box-shadow 250ms, color 250ms;

}

.delete:hover {
    box-shadow: rgba(48, 107, 134, 0.863) 0px 30px 60px -12px inset, 
    rgba(56, 31, 31, 0.904) 0px 18px 36px -18px inset;
    color: antiquewhite;
}

.name {
    display: inline-block;
    font-weight: 500;
    margin:0 5px 0 0;

}

.number {
    display: inline-block;
    margin: 0;
}

.delete {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    
    font-weight: 500;
    
    outline: transparent;
    
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.delete:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.delete:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}