form {
    color: #ffffff;
}

.wrap {
display: flex;
flex-direction: column;
max-width: 300px;
margin: 0 auto;
}

.btn {
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    outline: 0;
    overflow: hidden;
    padding: 10px 15px;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    border: 0;
    transition: box-shadow .2s;
    font-size: 15px;
}

.btn:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.signin {
    color: aqua;
        margin-left: 5px;
        cursor: pointer;
}

.input {
    width: 200px;
    height: 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #f37806;
    outline-color: #f7ad3f;
    margin: 0 auto;
}